* {
	padding: 0;
	margin: 0;
	font-family: "Times New Roman", Times, serif;
}

#wrapper {
	background-image: linear-gradient(black, blue);
	margin: 0 auto;
	width: 100%;
}

#page_wrap {
	background-image: linear-gradient(black, blue);
}

#pg_content {
	width: 100%;
	height: 100%;
	display: block;
}

header h1 {
	color: white;
	text-align: center;
	padding-top: 50px;
	font-size: 100px;
}

nav {
	color: black;
	width: 100%;
	height: 1em;
	margin:0 auto;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	float: left;
	color: white;
	padding: 0px;
	text-decoration: none;
	font-size: 25px;
	display: block;
	background-color: none;
	transition: background-color 1s;
	width: 14%;
	text-align: center;
}

nav ul li:hover {
	background-color: black;
	transition: transform background-color 1s;
	color: white;
}

nav ul li a:hover, a:link, a:visited, a:active, a:visited:active {
	text-decoration: none;
	color: white;
	margin: 0px;
	display: block;
	width: 100%;
	height: 100%;
	white-space: pre;
}

main {
	width: 100%;
	float: left;
	display: flex;
}

main h3 {
	font-size: 32px;
	color: white;
}

main p {
	font-size: 16px;
	color: white;
}

main h2 {
	color: white;
}

#leftContent {
	width: 25%;
	padding-left: 3%;
	padding-right: 2%;
	float: left;
}

#rightContent {
	width: 40%;
	padding-right: 15%;
	
}

#middle{
	width: 50%;
	height: 100%;
	padding-left: 25%
}

#vidlink {
	margin: 0 auto;
	display: block;
	width: 100%;
	height: 100%;
	white-space: normal;
}

header {
	position: relative;
	text-align: center;
	color: white;
}

#caption {
	font-size: 48px;
	position: absolute;
	top: 6.25%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer {
	width: 100%;
	color: white;
	clear: both;
}

.column {
	float: left; 
	width: 33.3333%;
	color: white;
	background-image: linear-gradient(blue, black, black);
} 

.content {
	color: white;
	font-size: 16px;
	width: 25%;
	padding-left: 1%;
	white-space: pre;
}

.heading {
	font-size: 32px;
	color: white;
	padding-left: 2px;
}

.subheading {
	font-size: 24px;
	color: white;
	padding-left: 16px;
}

.code {
	color: black;
	font-size: 16px;
	background-color: white;
	white-space: pre;
	border-style: solid;
	border-color: black;
	display: inline-block;
	transform: translate(5%, 0%);
}

.gitref {
	background-image: linear-gradient(to bottom left, white, grey);
	display: inline-block;
	transform: translate(5%, 0%);
}

main img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.inlineimg {
	display: inline;
	margin-left: 1%;
	margin-right: 1%;
}

a h4 {
	padding-left: 1%;
}

h4 {
	color: white;
	font-size: 20px;
}

h5 {
	color: white;
	font-size: 16px;
}

h6 {
	color: white;
	font-size: 10px;
	padding-left: 5%;
}

table {
	padding-top: 2em;
}

td, th {
	color: white;
	border-bottom: 1px solid white;
	padding: 0.25em;
}

.cpp {
	color: #f34b7d;
}

.java {
	color: #b07219;
}

.pde {
	color: #0096d8;
}

.py {
	color: #3572a5;
}

.c {
	color: #555555;
}

.unreal {
	color: #34496a;
}

.unity {
	color: #0cc1dc;
}

iframe {
	box-shadow: 2px 2px 4px black;
	border-radius: 2px;
}
